@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
:root {
  /* --Color20 : #a444f3; */
  /* --Color20 : #3ecc3e; */
  --Color20 : #ffff00;
}
*{
  top: 0;
  left: 0;
  margin: 0;
  padding: 0;
}    
body {
  overflow: hidden;
  font-family: "Montserrat", sans-serif;
}
canvas {
  position: fixed;
  z-index: -1;
}
/* Slider settings------------------------------- */
.slider{
  width: 400vw;
  height: 100vh;
  display: flex;
  align-items: center;
}
.slider .invisibleNavigation {
  display: none;
}
section{
  width: 25%;
  height: auto;
  transition: 1s;
}
/* Coner tag config */
.sideTag {
  position: absolute;
  display: flex;
  align-items: center;
  width: auto;
  height: 50px;
  margin-top: -15px;
  padding-left: 10px;
  padding-right: 10px;
  background-color: #ffffff1a;
}
.sideTag a {
  width: 30px;
  height: 30px;
}
/* CV bottom left coner off the screen */
.CV {
  top: 100%;
  left: 0%;
  transform: translate(-0%, -100%);
  border-radius: 0px 10px 10px 0px;
}
.CV a img {
  width: 100%;
  height: 100%;
}
/* App bottom right coner off the screen */
.Apps {
  top: 100%;
  left: 100%;
  transform: translate(-100%, -100%);
  border-radius: 10px 0px 0px 10px;
  gap: 8px; 
}
.Apps a {
  display: flex;
  align-items: center;
}
/* Navbar (the visible one and the scrolling one) */
.navigationActive {
  position: fixed;
  left: 50%;
  display:flex;
  gap: 52px;
  margin-top: 5vh;
  transform: translate(-50%, 0);
}
.navigationActive div {
  cursor: pointer;
  position: relative;
  color:  #ffffff;
  padding: 2px 10px;
  font-size: 24px;
  text-decoration: none;
  transition: all ease-in-out .5s;
}
#navigation {
  position: fixed;
  left: 50%;
  display:flex;
  gap: 52px;
  margin-top: 5vh;
  transform: translate(-50%, 0);
}
#navigation label {
  cursor: pointer;
  position: relative;
  color:  transparent;
  padding: 2px 10px;
  font-size: 24px;
  text-decoration: none;
  transition: all ease-in-out .2s;
}
/* Navigation animation-------------------------- */
#navigation label::after {
  content: '';
  position: absolute;
  width: 100%;
  height: 1px;
  left:0;
  bottom: 0;
  background: var(--Color20);
  transform: scale(0, 1);
  transition: transform .3s ease;
}  
#navigation label:hover::after{
  transform: scale(1, 1);
}
/* Navbar "scroll" ------------------------------ */
#navigation1:checked ~ .first{
  margin-left: 0;
}
#navigation2:checked ~ .first{
  margin-left: -25%;
}
#navigation3:checked ~ .first{
  margin-left: -50%;
}
#navigation4:checked ~ .first{
  margin-left: -75%;
}        
/* Navbar selection------------------------------ */
#navigation1:checked ~ .navigationActive .navActive1 h5{
  color: var(--Color20);
  transition: all ease-in-out .5s;
}  
#navigation2:checked ~ .navigationActive .navActive2 h5{
  color: var(--Color20);
  transition: all ease-in-out .5s;
}
#navigation3:checked ~ .navigationActive .navActive3 h5{
  color: var(--Color20);
  transition: all ease-in-out .5s;
}
#navigation4:checked ~ .navigationActive .navActive4 h5{
  color: var(--Color20);
  transition: all ease-in-out .5s;
}
/* Sections ------------------------------------- */
section h5 {
  visibility: hidden;
}
/* Home page------------------------------------- */
#home {
  text-align: center; 
}
#home h2 {
  font-size: 32px;
  color: #ffffff8a;
}
#home h1 {
  font-size: 64px;
  color: #ffffff;
  margin: 10px 0px;
}
#home h3 {
  font-size: 24px;
  color: #ffffff52;
}
/* About Me page--------------------------------- */
#about {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 16px;
}
#about .description p {
  margin-top: 15px;
  text-align: center;
  font-size: 16px;
  color: #ffffffb0;
}
#about .description p a {
  text-decoration: none;
  color: #ffff0080;
  transition: .35s;
}
#about .description p a:hover {
  color: #ffff00;
}
#about .data-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 5vh;
  width: 50%;
}
#about .data-list div {
  display: flex;
  align-content: center;
  justify-content: center;
  width: 40%;
  height: 40px;
}
#about .data-list div svg {
  height: 100%;
}
#about .data-list div p{
  margin: auto 0 auto 5px;
  color: rgba(255, 255, 255, 0.607);
}
#about .data-list div  p span {
  color: rgba(255, 255, 255, 0.8);
}
/* Portfolio page-------------------------------- */
#portfolio .projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
#portfolio .projects .cardProject {
  width: 450px;
  height: auto;
  background: #ffffff1a;
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid #000000;
  overflow: hidden;
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#portfolio .projects .cardProject a p {
  position: absolute;
  top: -12px;
  left: -22px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 250px;
  color: #000000;
  background-color: #ffc400;
  opacity: 0;
  transition: .7s;
}
#portfolio .projects .cardProject a p:hover {
  opacity: .9;
}
#portfolio .projects .cardProject img {
  width: 100%;
  height: 250px;
  object-fit: cover;
}
#portfolio .projects .cardProject h2 {
  font-size: 24px;
  margin: 10px 20px;
  color: #ffffff;
}
#portfolio .projects .cardProject p {
  font-size: 16px;
  margin: 3% 5%;
  color: #ffffff85;
}
#portfolio .projects .cardProject .line {
  width: 150px;
  border: 1px var(--Color20) solid;
}
#portfolio .projects .cardProject .icons {
  display: flex;
  align-items: center;
  object-fit: contain;
  gap: 10px;
  width: 30px;
  height: 30px;
  margin: 10px 20px;
}
#portfolio .projects .cardProject .icons img {
  width: 30px;
  height: 30px;
}
/* Contact page---------------------------------- */
#contact {
  display: flex;
  align-items: center;
  justify-content: center;
}
#contact .cardAbout {
  width: 35%;
  height: auto;
  padding: 20px;
  border-radius: 5px; 
  background: #ffffff1a;
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px, rgba(0, 0, 0, 0.22) 0px 15px 12px;
}
#contact .cardAbout h2 {
  display: flex; 
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 260px;
  font-size: 32px;
  margin: 0 auto 50px auto;
  color: #ffffff;
  border-bottom: var(--Color20) solid 1px;
}
#contact .cardAbout form {
  display: grid;
  gap: 25px;
  text-align: left;
  grid-template-columns: auto auto;
}
#contact .cardAbout form .formItem {
  border-bottom: solid 2px rgb(201, 201, 201);
}
#contact .cardAbout form .formItem:hover {
  border-bottom: solid 2px rgb(87, 87, 87);
}
#contact .cardAbout form .formItem label {
  color: #bbbbbb;
  font-size: 24px;
  font-weight: lighter;
}
#contact .cardAbout form .formItem .inputCamp {
  width: 100%;
  height: auto;
  margin-top: 10px;
  padding-bottom: 10px;
}
#contact .cardAbout form .formItem .inputCamp input {
  font-size: 18px;
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  color: #9b9b9b;
  font-weight: lighter;
  background-color: transparent;
}
#contact .cardAbout form .itemMessage {
  grid-column-start: 1;
  grid-column-end: 3;
  display: flex;
  flex-direction: column;
  height: 150px;
}
#contact .cardAbout form .itemMessage .inputCamp {
  height: 75%;
}
#contact .cardAbout form .formItem textarea {
  width: 100%;
  height: 100%;
  border: none;
  resize: none;
  outline: none;
  font-size: 18px;
  color: #9b9b9b;
  background-color: transparent;
}
#contact .cardAbout form .buttonSend {
  margin: auto;
  grid-column-start: 2;
  grid-column-end: 3;
}
#contact .cardAbout form .buttonSend input {
  width: 100px;
  height: 40px;
  color: white;
  border-radius: 5px;
  border: solid 1px white;
  background-color: transparent;
  transition: .5s;
}
#contact .cardAbout form .buttonSend input:hover {
  color: var(--Color20);
  border: solid 1px var(--Color20 );
  transition: ease-in-out .5s;
}
/* 
320px — 480px: Mobile devices.
481px — 768px: iPads, Tablets.

769px — 1024px: Small screens, laptops.
1025px — 1200px: Desktops, large screens.
*/
@media (max-width: 1024px) {
  body {
    overflow: auto;
  }
  /* Slider settings */
  .slider {
    display: flex;
    flex-direction: column;
    width: auto;
    height: auto;
  }
  section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
  }
  section h5 {
    font-size: 28px;
    font-weight: bold;
    text-align: center;
    padding: 40pxjhg m;
    visibility: visible;
    color: #ffffff;
  }
  /* Side Tag */
  /* OLHAR DE NOVO */
  .sideTag {
    position: fixed;
    z-index: 5;
    background-color: #000000;
  }
  /* Navigation */
  .navigationActive {
    visibility: hidden;
  }
  #navigation {
    visibility: hidden;
  }
  /* Sections */
  /* Home Page */
  #home {
    height: 95vh;
  }

  #about {
    height: 95vh;
  }
  /* Portfolio Page */
  #portfolio {
    padding-bottom: 30vh;
  }
  /* Contact Page */
  #contact {
    padding-bottom: 20vh;
  }
  #home h2 {
  font-size: 28px;
  }
  #home h1 {
    font-size: 48px;
  }
  #home h3 {
    font-size: 20px;
  }
  #portfolio .projects .cardProject h2 {
    font-size: 20px;
  }
  #portfolio .projects .cardProject p {
    font-size: 16px;
  }
  #contact .cardAbout h2 {
    font-size: 28px;
  }
  #contact .cardAbout form .formItem label {
    font-size: 20px;
  }
  #contact .cardAbout form .formItem .inputCamp input {
    font-size: 16px;
}
}
